.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.react-tabs {
  margin-top: 30px;
}

.react-tabs__tab-list {
  background: 0 0;
  border-radius: 0;
  margin: 0;
  width: 160px;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #e1e5eb;
  border-top: 1px solid #e1e5eb;
}

.react-tabs__tab-list li {
  background: 0 0;
  border: 0;
  border-radius: 0;
  float: left;
  cursor: pointer;
  width: 161px;
  margin: 0;
  border-bottom: 1px solid #e1e5eb;
  border-right: 1px solid #e1e5eb;
  background-position: left center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-left: 4px solid #e1e5eb;
  padding: 15px 0 15px 8px !important;
  outline: 0;
  box-shadow: none;
  color: #3d5170;
}

.react-tabs__tab-panel {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e1e5eb;
  display: inline-block;
  width: calc(100% - 160px);
  float: left;
}

.react-tabs__tab-list li:hover,
.react-tabs__tab-list li.react-tabs__tab--selected {
  background: #007bfe;
  color: #fff;
  border-right: 1px solid #017bff;
  border-left-color: #035dbd;
}

.tab-content-title {
  font-size: 18px;
  font-weight: 500;
  color: #00b8d8;
  padding: 0 0 5px;
}

.accordion__item {
  position: relative;
}

.accordion__item:before {
  content: counter(mycounter);
  counter-increment: mycounter;
  position: absolute;
  top: 10px;
  left: 120px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: teal;
  text-align: center;
}

.itineary-accordion .accordion__item:before {
  left: 130px;
}

.accordion__item .btn-danger {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  padding: 1px 6px;
}

.accordion {
  display: flex;
  flex-direction: column-reverse;
  counter-reset: mycounter;
}
.accordion__heading .accordion__button {
  background-color: #cacedb;
  padding: 10px 10px 10px 30px;
  border: 1px solid #737373;
  outline: none;
}
.accordion__heading .accordion__button[aria-expanded="true"] {
  background: #ffb400;
  color: #fff;
  border: 1px solid #ffb502;
}

.sort-drag {
  position: absolute;
  top: 0;
  height: 41px;
  line-height: 41px;
  font-size: 25px;
  color: #333;
  cursor: all-scroll;
  width: 30px;
  padding-left: 4px;
}

.ckeditor-height-small .ck.ck-editor {
  height: 150px;
}

.ckeditor-height-small .ck-content {
  min-height: 150px;
  height: 150px;
}

.date-price li .btn-danger {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 14px;
  padding: 0;
}

.date-price li {
  position: relative;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 15px 5px;
  margin-bottom: 15px;
}

.date-price .react-datepicker-wrapper input {
  clear: both;
  padding: 0.8125rem 0.8125rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.375rem;
}
.date-price .react-datepicker-wrapper {
  display: block;
}
